<!-- Load the javascript that will be used in this page -->
<% content_for :header do -%>
  <%= javascript_include_tag 'smooth_scrolling' %>
  <%= javascript_include_tag 'nav_bar_transparency' %>
  <%= javascript_include_tag 'search.js' %>
<% end %>

<!-- Home Page-->
<div id="tf-home" class="text-center">
  <div class="overlay">
    <div class="content">
      <%= image_tag 'pesquini_small2.png' %>
    </div>
    <div class="content_search">
      <%= search_form_for @search do |search_db| %>
      <div class="input-group">
        <%= search_db.text_field :corporate_name_cont, class: "form-control input-lg id", placeholder: t('Digite nome ou CNPJ da empresa')%>
        <span class="input-group-btn">
          <%= search_db.button type: "submit", class: "btn btn-lg btn-r", id: "search_index" do %>
          <i class="fa fa-search fa-lg"></i>
          <% end %>
        </span>
      </div>
      <% end %>
      <div class="text_pesq_empr">
        <hr>
        <p class="lead"><strong><%= t('Pesquisa') %> </strong><%= t('de empresas') %><strong> <%= t('Inidôneas') %></strong></p>
      </div>
    </div>
  </div>
</div>


<!-- About Empresas-->
<div id="tf-about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag 'empresa_1.jpg', class: "img-responsive" %>
      </div>
      <div class="col-md-6">
        <div class="about-text">
          <div class="section-title">
            <h4><%= t('O que são') %> </h4>
            <h2><%= t('empresas Inidôneas') %> ?</h2>
            <hr>
            <div class="clearfix"></div>
          </div>
          <p class="intro"><%= t('As empresas que constam como sendo inidôneas são aquelas que receberam sanções que tenham como efeito')%>,
          <%= t('ou restrição ao direito de participar em licitações ou de celebrar contratos com a Administração Pública')%>.
          <%= t('Algumas das sanções que uma empresa pode sofrer') %>: </p>
          <ul class="about-list">
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong><%= t('Suspensão temporária') %></strong>
            </li>
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong><%= t('Declaração de inidoneidade') %></strong>
            </li>
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong><%= t('Impedimento de licitar e contratar') %></strong>
            </li>
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong><%= t('Proibição de participar de licitações e de contratar') %></strong>
            </li>
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong><%= t('Outras') %></strong> -  <a class = "more_link" href ="more"><em><%= t('Clique aqui saber sobre mais sanções e informações sobre elas') %></em></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Search Page-->
<div id="tf-search" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="section-title center">
        <h2><%= t('Formas de pesquisa') %></h2>
        <div class="line">
          <hr>
        </div>
      </div>

      <div id="search" class="owl-carousel owl-theme row">

        <%= link_to(root_path(:anchor => "tf-home")) do %>
        <div class="item">
          <div class="thumbnail">
            <%= image_tag 'search/lupa.png', class: "img-circle search-img" %>
            <div class="caption">
              <h3><%= t('Pesquisa por nome ou CNPJ') %></h3>
              <hr>
              <p><%= t('Realizar a pesquisa através da razão social da empresa') %>.</p>
            </div>
          </div>
        </div>
        <%  end %>

        <%= link_to(enterprises_path, method: :get) do %>
        <div class="item">
          <div class="thumbnail">
            <%= image_tag 'search/lupa.png', class: "img-circle search-img" %>
            <div class="caption">
              <h3><%= t('Mostrar todas as empresas')%></h3>
              <hr>
              <p><%= t('Mostrar todas as empresas cadastradas') %>.</p>
            </div>
          </div>
        </div>
        <%  end %>
      </div>

    </div>
  </div>
</div>


<!-- Services Section-->
<div id="tf-services" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2><strong><%= t('Estatísticas sobre empresas') %></strong></h2>
      <div class="line">
        <hr>
      </div>
      <div class="clearfix"></div>
      <em><%= t('Visualização de gráficos e rankings sobre empresas inidôneas') %>. <%= t('Por meio dessa ferramenta é possivel obter algumas informações relacionadas empresas inidôneas de uma forma geral') %>.</em>
    </div>
    <div class="space"></div>
    <div class="row">
      <div class="col-md-3 col-sm-6 service">
        <%= link_to(statistics_path(:anchor => "tf-sanction_by_state"))do %>
        <i class="fa fa-bar-chart"></i>
        <h4><strong><%= t('Estados com mais sanções') %></strong></h4>
        <p><%= t('Gráfico que indica  a quantidade de sanções por Unidade Federativa') %>.</p>
        <% end %>
      </div>
      <div class="col-md-3 col-sm-6 service">
        <%= link_to(statistics_path(:anchor => "tf-most_sanctioned_ranking"))do %>
        <i class="fa fa-line-chart"></i>
        <h4><strong><%= t('Empresas com mais sanções') %></strong></h4>
        <p><%= t('Ranking que indica a quantidade de empresas com mais sançoes') %>.</p>
        <% end %>
      </div>
      <div class="col-md-3 col-sm-6 service">
        <%= link_to(statistics_path(:anchor => "tf-sanction_by_type"))do %>
        <i class="fa fa-pie-chart"></i>
        <h4><strong><%= t('Tipos de sanções') %></strong></h4>
        <p><%= t('Gráfico que indica os tipos de sanção mais recorrentes e suas quantidades') %>.</p>
        <% end %>
      </div>
      <div class="col-md-3 col-sm-6 service">
        <%= link_to(statistics_path(:anchor => "tf-payment_rankings"))do %>
        <i class="fa fa-usd"></i>
        <h4><strong><%= t('Empresas com maior numero de pagamentos') %></strong></h4>
        <p><%= t('Ranking que indica as empresas que mais receberam pagamentos do governo') %>.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div id="tf-clients" class="text-center">
  <div class="overlay">
    <div class="container">
      <div class="about_pesquini">
        <div class="section-title center">
          <h2><%= t('Sobre o') %><strong> <%= t('pesquini') %></strong></h2>
        </div>
        <hr>
        <h3><%= t('O sistema pesquini visa disponibilizar informaçoes sobre empresas brasileiras inidôneas de forma mais interativa e atrativa por meio de elementos visuais') %> , <%= t('como gráficos') %>, <%= t('tabelas e rankings para a população em geral') %>.</h3>
      </div>
      <div class="about_us">
        <div class="section-title center">
          <h2><%= t('Sobre') %> <strong> <%= t('nós') %></strong></h2>
        </div>
        <hr>
        <h3><%= t('Somos alunos da Universidade de Brasilia') %> (UnB - FGA). <%= t('Desenvolvemos esse software como um projeto da disciplina Métodos de Desenvolvimento de software') %></h3>
      </div>
    </div>
  </div>
</div>
