<div id="tf-sanction_by_state">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!--<img src="img/02.png" class="img-responsive">-->
        <%= image_tag 'estados.jpg', class: "img-responsive" %>
      </div>
      <div class="col-md-6">
        <div class="about-text">
          <div class="section-title">
            <h2><strong><%= t('Estados') %> </strong> <%= t('com mais sanções') %></h2>
            <hr>
            <div class="clearfix"></div>
          </div>
          <p class="intro"> <%= t('Este gráfico ilustra quais tipo de sanções as empresas brasileiras mais sofreram de forma geral') %>.
                            <%= t('Como também demonstra através de um filtro por estado') %>,
                            <%= t('qual o tipo de sanção mais ocorreu em cada uma das unidades federativas do Brasil') %>.
          </p>
          <ul class="about-list">
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong>Link</strong> -  <a id="link-statistc" href ="statistics/sanction_by_state_graph"><em><%= t('Clique aqui para ser redirecionado para a página') %>.</em></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>


<div id="tf-most_sanctioned_ranking">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!--<img src="img/02.png" class="img-responsive">-->
        <%= image_tag 'empresa_3.jpg', class: "img-responsive" %>
      </div>
      <div class="col-md-6">
        <div class="about-text">
          <div class="section-title">
            <h2><strong><%= t('Empresas') %> </strong><%= t('com mais sanções') %></h2>
            <hr>
            <div class="clearfix"></div>
          </div>
          <p class="intro"><%= t('Este ranking possui informações sobre as empresas que mais receberam sanções desde 1988') %>,
                           <%= t('separando-as por grupos de número de sanções') %></p>
          <ul class="about-list">
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong>Link</strong> -  <a href ="statistics/most_sanctioned_ranking"><em><%= t('Clique aqui para ser redirecionado para a página') %>.</em></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>


<div id="tf-sanction_by_type">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!--<img src="img/02.png" class="img-responsive">-->
        <%= image_tag 'sanção.jpg', class: "img-responsive" %>
      </div>
      <div class="col-md-6">
        <div class="about-text">
          <div class="section-title">
            <h2><strong><%= t('Tipos') %> </strong><%= t('de sanções') %></h2>
            <hr>
            <div class="clearfix"></div>
          </div>
          <p class="intro"><%= t('Este gráfico ilustra quais tipos de sanções as empresas brasileiras mais sofreram de forma geral') %>.
                           <%= t('São elas') %>:
                           <%= t('suspensão temporária') %>,
                           <%= t('declaração de inidoneidade') %>,
                           <%= t('impedimento de licitar e contratar') %>,
                           <%= t('proibição de participar de licitações e de contratar')%>.
                           <%= t('Esta estatística também demonstra através de um filtro por estado') %>,
                           <%= t('qual o tipo de sanção mais ocorreu em cada uma das unidades federativas do Brasil') %>.
          </p>
          <ul class="about-list">
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong>Link</strong> -  <a href ="statistics/sanction_by_type_graph"><em><%= t('Clique aqui para ser redirecionado para a página') %>.</em></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>

<div id="tf-payment_rankings">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!--<img src="img/02.png" class="img-responsive">-->
        <%= image_tag 'dinheiro.jpg', class: "img-responsive" %>
      </div>
      <div class="col-md-6">
        <div class="about-text">
          <div class="section-title">
            <h2><strong><%= t('Empresas') %></strong> <%= t('com mais pagamentos') %></h2>
            <hr>
            <div class="clearfix"></div>
          </div>
          <p class="intro"><%= t('Nesse tópico está disponivel o ranking com as informações sobre as empresas que mais receberam pagamentos referentes a licitaçoes do governo desde o começo da obtenção de dados') %>.
          </p>
          <ul class="about-list">
            <li>
              <span class="fa fa-dot-circle-o"></span>
              <strong>Link</strong> -  <a href ="statistics/most_paymented_ranking"><em><%= t('Clique aqui para ser redirecionado para a página') %>.</em></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
