<div class="container">
 <%= render 'back_button' %>


<h2 align="center">Ranking das empresas que mais receberam verba em pagamentos</h2>

<br><br>
  <%@enterprises_payment_paginate.each_with_index do |enterprises_payment, index| %>

  <h3><%= index + 1 %> )  <%= link_to enterprises_payment.corporate_name, enterprises_payment %><br></h3>
  <B>Total de pagamentos feitos a empresa:</B> <%=  number_to_currency(enterprises_payment.payments_sum, unit: "R$ ", separator: ",", delimiter: ".") %>

  <% end %>
</div>

<div = class="container"
<span class="division"> <hr> </span>
  <% if !@all %>
  <%= link_to "Todas", controller: 'statistics', action: 'most_paymented_ranking', sanction_years: ""%>
  <% end %>
  <% if @all %>
  <%= will_paginate @enterprises_payment_paginate,  renderer: BootstrapPagination::Rails %>
  <% end %>
<span class="division"> <hr> </span>
</div>
