 <!DOCTYPE html>
<html>
  <head>
    <title>Pesquini</title>
    <link rel="icon" href="http://imageshack.com/a/img923/4266/L3oW40.png" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= yield(:header) %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render '/layouts/header' %>
    <div class= "padding-page-top">
      <%= yield %>
    </div>
    <%= render '/layouts/footer' %>
  </body>
</html>
